# Diabetes Prediction Dataset ðŸ“Š

This notebook is designed for analyzing and training a model using the **Diabetes Prediction Dataset**. The dataset is sourced from Kaggle and can be accessed at the following link:

- [Diabetes Prediction Dataset](https://www.kaggle.com/datasets/iammustafatz/diabetes-prediction-dataset)

---

## ðŸ”§ Setup Instructions

### **1. Install Required Libraries**
To run this notebook, ensure you have the following Python libraries installed. You can install them using pip:

```bash
pip install pandas numpy scikit-learn matplotlib seaborn plotly

In [16]:
# Importing the neccesary libraires for now
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [19]:
# Load the Dataset and check the first 5 by using head command
diabetes = pd.read_csv('diabetes_prediction.csv')
diabetes.head(5)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

# Data Exploration 

**First will be Statistics**

In [20]:
# Shape of the data set to see the number of cols, rows.
diabetes.shape

(100000, 9)

In [21]:
# cols
diabetes.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'smoking_history',
       'bmi', 'HbA1c_level', 'blood_glucose_level', 'diabetes'],
      dtype='object')

In [22]:
# checking null valus if any.
diabetes.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [24]:
# Checking the min, max, mean of the dataset
diabetes.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

In [26]:
# Checking the same thing but for catgeorical cols
diabetes.describe(include="object")

        gender smoking_history
count   100000          100000
unique       3               6
top     Female         No Info
freq     58552           35816

In [37]:
# Now here we will check the percent of Diabetes column, 
# we will check how many people have Diabetes and how many don't in terms of count and percentage 
values_Count = diabetes['diabetes'].value_counts() # Counting the values
percentage = diabetes['diabetes'].value_counts(normalize=True) * 100 # Finding the percent

In [38]:
# turning that calculation to a Dataframe so we can see it better 
summary = pd.DataFrame({'count': values_Count, 'percentage': percentage})
summary

          count  percentage
diabetes
0         91500        91.5
1          8500         8.5

In [42]:
# Correlation between columns 'A' and 'B'
correlation_AB = diabetes['diabetes'].corr(diabetes['bmi'])
print("\nCorrelation between diabetes and bmi :", correlation_AB)

Correlation between diabetes and bmi : 0.21435740579951024